<nav>
    <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <a href="/admin">
                <img src="/images/logo.svg" class="logo" alt="logo" />
            </a>
            <button class="nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- links -->
        <ul class="links">
            <li>
                <a href="/admin">home</a>
            </li>
            <li>
                <a href="/admin/about">about</a>
            </li>
            <li>
                <a href="/admin/articles">Articles</a>
            </li>
            <li>
                <a href="/admin/contact">contact</a>
            </li>
        </ul>
        <!-- social media -->
        <ul class="social-icons">
            <li>
                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
