.about-contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.about-contact-page h3 {
    background-color: var(--clr-grey-10);
    padding: 5% 10%;
    font-size: 18px;
    text-transform: none;
    white-space: pre-wrap;
}

.about-contact-page a {
    color: #007bff;;
}

/*
Section to edit about and contact
*/

form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    width: 100%;
}

.text {
    height: 500px;
    width: 100%;
    padding: 10px;
}

.submit {
    width: 30%;
    padding: 10px;
    background-color: rgb(150, 0, 150);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}