.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.about-page h3 {
    background-color: var(--clr-grey-10);
    padding: 5% 10%;
    font-size: 18px;
    text-transform: none;
}