/*
=============== 
Navbar
===============
*/
nav {
    box-shadow: var(--light-shadow);
    background: var(--clr-white);
    z-index: 2;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.nav-toggle {
    font-size: 1.5rem;
    color: rgb(75, 0, 75);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}
.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

/* LOGO SECTION */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 65px;
}

.logo-text {
    color: #530d56;
    font-size: 1.35rem;
    vertical-align: center;
    margin: 0;
    display: none;
}

.links a {
    color: #530d56;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}
.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}
.social-icons {
    display: none;
}
.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 10rem;
}

@media screen and (min-width: 900px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .logo-text {
        display: inline-block;
    }
    .links {
        height: auto;
        display: flex;
    }
    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }
    .links a:hover {
        padding: 0;
        background: transparent;
    }
    .social-icons {
        display: flex;
    }
    .social-icons a {
        margin: 0 0.5rem;
        color: var(--clr-primary-5);
        transition: var(--transition);
        color: rgb(75, 0, 75);
    }
    .social-icons a:hover {
        color: var(--clr-primary-7);
    }
}
