<footer class="page-footer">
    <p>
        The views expressed by our writers are their own and do not necessarily
        reflect the views of Hunter College
    </p>
    <div class="copyright">
        &copy; 2023 Hunter College Political Journal. All rights reserved.
    </div>
    <ul class="social-icons-footer">
        <li>
            <a href="https://www.facebook.com">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>
