.article {
    background-color: var(--clr-grey-10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    width: 100%;
}

.article * {
    padding: 10px;
    width: 100%;
}

.article h3 {
    text-align: left;
    white-space: pre-wrap;
    padding-top: 5%;
    line-height: 1.75rem;
}

.article a {
    color: #007bff;
    text-decoration: none;
    padding: 0;
}

.article a:hover {
    text-decoration: underline; /* Add underline on hover for links */
}

/*
Edit Article CSS
*/

.article-submit-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.form-group {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
}

.title {
    height: 100px;
}

.content {
    height: 1000px;
}

.submit {
    width: 30%;
    padding: 10px;
    background-color: rgb(150, 0, 150);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input {
    vertical-align: top;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.error {
    size: 10px;
    color: red;
    margin: 5px;
    text-align: center;
    vertical-align: center;
}