/*
=============== 
Articles section of index and articles page
===============
*/

.articles {
    background-color: var(--clr-grey-11);
    padding: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
    z-index: 1;
}

.article-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--clr-grey-10);
    cursor: pointer;
    transition: 0.5s;
    color: black;
    position: relative;
    min-height: min-content;
    align-self: start;
}

.article-container:hover {
    transform: scale(1.035);
    transition: 0.5s;
}

.article-container h4:hover,
.article-container h5:hover,
.article-container h6:hover {
    opacity: 0.75;
    transition: 0.25s;
}

.article-container h5 {
    font-size: 18px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    color: black;
}

.article-container h6 {
    font-size: 12px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.article-container p {
    margin: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: left;
}

@media screen and (min-width: 900px) {
    .articles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .search-bar {
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*
CSS for the search bar
*/
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 5%;
}

.search-bar i {
    position: absolute;
    left: 10px;
    color: #ccc;
}

#searchInput {
    text-align: center;
    padding: 8px 8px 8px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.delete-article {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-article:hover {
    transform: scale(1.035);
    transition: 0.5s;
}

.add-article {
    height: 50px;
    width: 50px;
    margin: 30px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    vertical-align: middle;
    transition: 0.5s;
    cursor: pointer;
}

.add-article:hover {
    transform: scale(1.035);
    transition: 0.5s;
}

.add-article:active {
    opacity: 70%;
}
