<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/about-contact.css" />
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <section class="about-contact-page">
            <h1>About Us</h1>
            <h3><%- content.about %></h3>
        </section>
        <!--Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>
