<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/about-contact.css" />
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <section class="about-contact-page">
            <h1>About Us</h1>
            <h3>
                This is where I would put information about us. Up to you guys
                what to write. I am just adding things so that the page would
                look just a bit for full and all. I am going to repeate the
                previous paragraph. <br /><br />
                This is where I would put information about us. Up to you guys
                what to write. I am just adding things so that the page would
                look just a bit for full and all. I am going to repeate the
                previous paragraph.
            </h3>
        </section>
        <!--Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>
