<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/articles.css" />
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <section class="page">
            <h1>Articles</h1>
            <!-- Articles -->
            <%- include('../partials/articles-container'); %>
        </section>
        <!--Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>
